:root {
  --main-color: #0c3223;
  --secondary-color: #94e4c4;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
nav {
  transition: all 0.2s ease-in-out;
  padding: 0px 48px;
  height: 120px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: calc(100vw - 96px);
  background-color: var(--main-color);
  img {
    height: calc(100% - 16px);
    width: auto;
    padding-top: 8px;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    li {
      text-transform: uppercase;
      list-style-type: none;
      a {
        text-decoration: none;
        color: white;
        font-size: 12px;
        font-family: "Maven Pro", sans-serif;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }
}

#contact-us-section {
  display: flex;
  padding: 32px;
  height: calc(100vh - 152px);
  justify-items: center;
  align-items: center;
  div,
  iframe {
    flex: 1;
  }

  div {
    padding: 0 16px;

    p {
      line-height: 1.75;
    }
  }
}

.headernav {
  position: relative;
}

.contact-us-content {
  display: flex;
  button,
  h3,
  h1 {
    padding: 0 0;
    margin: 8px 0px;
  }
  button,
  h3 {
    cursor: pointer;
  }
  p {
    margin: 0;
  }
  button {
    background: transparent;
    border: none;
  }
  div {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    a,
    h3,
    button {
      color: var(--main-color);
      font-family: "Maven Pro", sans-serif;
      text-decoration: none;
      font-size: 1.25em;
    }
  }
}

dialog {
  border-radius: 8px;
  border: none;
  padding: 32px;
  gap: 16px;
  p {
    margin: 0;
  }
  a {
    font-size: 1.25em;
    margin: 16px;
    color: var(--main-color);
    font-family: "Maven Pro", sans-serif;
    text-decoration: none;
  }
  button {
    padding: 12px 36px !important;
  }
  &::backdrop {
    background-color: #0c3223a2;
  }
}

h1 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
  color: var(--main-color);
}
footer {
  border-top: 1px solid var(--main-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  padding: 64px 80px;
  align-items: center;
  img {
    width: auto;
    height: 100px;
  }
  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--main-color);
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 16px;
      a {
        text-decoration: none;
      }
    }
  }
}
.last-div-footer {
  svg {
    width: 24px;
    height: 24px;
    fill: var(--main-color);
  }
  a {
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

footer {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  padding: 64px 80px;
  align-items: center;
  *,
  a {
    color: var(--secondary-color) !important;
  }
  img {
    width: auto;
    height: 100px;
  }
  div {
    display: flex;
    width: 100%;
    color: var(--main-color);
    div {
      display: flex;
      &:not(:first-of-type) {
        justify-content: flex-start;
      }
      padding: 0px 16px;
      div {
        display: flex;
        flex-direction: column;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.arrogantis-footer {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  ul {
    margin-top: 4px;
    padding-left: 8px;
    li {
      list-style: none;
    }
  }
}
.last-div-footer {
  p {
    margin: 0;
  }
  margin-top: 16px;
  a {
    text-decoration: none;
    color: black;
    align-items: center;
    display: flex;
    gap: 8px;
  }
}

@media screen and (max-width: 1200px) {
  #contact-us-section {
    flex-direction: column;
    padding: 16px 32px;
    div {
      gap: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .headernav{
    padding: 8px;
    width: calc(100% - 16px) !important;
    img{
      height: 70px;
    }
    ul{
      margin: 0;
      gap: 8px;
      padding: 0px 8px !important;
      li{
        text-align: center;
      }
    }
    a{
      display: flex;
      justify-content: center;
    }
    padding-bottom: 16px;
    flex-direction: column;
  }
  .contact-us-content{
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0px;
  }
  #contact-us-section {
    flex-direction: column;
    padding: 16px 16px;
    div {
      gap: 0;
    }
  }
  iframe{
    width: calc(100% - 32px);
    height: 150px;
    margin-bottom: 32px;
  }
  footer {
    div {
      justify-content: center;
      align-items: center;
      img {
        margin-top: 8px;
        height: 100px !important;
        &:first-of-type {
          height: 100px;
          width: 150px;
          object-fit: cover;
        }
      }

      flex-direction: column;
      justify-content: center;
      padding: 0 !important;
      gap: 8px;
      * {
        display: flex;
        justify-content: center;
        padding: 0;
      }
      ul {
        flex-direction: column;
      }
    }
  }
}
.last-div-footer{
  svg{
    width: 24px;
    height: 24px;
    fill: var(--secondary-color);
  }
}
dialog {
  border-radius: 8px;
  border: none;
  padding: 32px;
  gap: 16px;
  p {
    margin: 0;
  }
  a {
    font-size: 1.25em;
    margin: 16px;
    color: var(--main-color);
    font-family: "Maven Pro", sans-serif;
    text-decoration: none;
  }
  button {
    padding: 12px 36px !important;
  }
  &::backdrop {
    background-color: #0c3223a2;
  }
}
